.detail-block {
    background-color: #ffc8c8;
    height: 100vh;
    width:100%;
   
    & > mat-card {
        background-color: #ffffff;
        margin: 0 auto;
        height: 100vh;
        width: 40%;
    }
}

h4 {
    background-color: #995454;
    color:#fff;
    font-family: 'roboto';
    margin: 5px 20px 30px 20px;
    letter-spacing: 1.2px;
    padding: 10px 20px;
    text-align: center;
    text-shadow:
        0.02em 0 grey,
        0 0.02em grey,
        -0.02em 0 grey,
        0 -0.02em grey;
   
}

.description {
    color:#333;
    font-family: 'robotto';
    font-size: 20px;
    line-height: 32px;

}

