<div class="summary-block" *ngIf="data.length!==0">
    
    <div class="flex-item" *ngFor="let item of data">
        <a href="#" [routerLink]="['/blog-description',item.id]">
            <img [src]="item.imgUrl" alt="Thumbnail Image">
            <div class="blog-name">
                <h4>{{item.name }}</h4>
                <p>{{item.author }}</p>
            </div>
        </a>
    </div>
</div>

<div class="summary-block" *ngIf = "data.length===0">
    <p class="server-error"> Server not connected..</p>
</div>
