
<div class="next-consultation">
    <div class="patient-section" *ngIf="patientDetails">
        <div class="patient-details" >
            <p class="patient-name"> patient Name: {{patientDetails.patientName }} </p>
            <p>age: {{patientDetails.patientAge}}</p>
            <p>mob: {{patientDetails.patientMobile}}</p>
            <p>Last Visited on: {{ patientDetails.lastVisited | date:'dd MMM yyyy' }}</p>
            <!-- <span class="history"><a [routerLink]="['/history', patientDetails.patientId]"><p>history</p></a></span> -->
            <!-- <button mat-raised-button color="primary" (click)="toggleAddDetails()">Add details <span class="add-icon">+</span></button> -->
            <!-- <span class="add-details"><a href=# (click)="toggleAddDetails($event)">add reciept </a></span> -->
          </div>
        <div class="time-slot"> 
            <h4>appointment slot : {{ patientDetails.timeSlot }}</h4>
        </div>
        <div class="patient-receipt">
            <img [src]="imageUrl" alt="Receipt Image" (click)="toggleModal()">
        </div>
    </div> 

    <div *ngIf="patientDetails === null">
        <p>No appointment booked </p>
    </div>
    <div  class="forward-appointment">
        <button mat-button color="primary" (click)="onPreviousClick()" *ngIf="patientIndex > 0">Previous Consultaion</button>
        <button mat-button color="primary" (click)="onNextClick()" *ngIf="hasMorePatients()">Next Consultaion</button>
    </div>
</div>

<div class="all-consultation" *ngIf="patientDetails">
  <ul class="nav nav-tabs">
    <li class="nav-item" [class.active]="activeTab === 'all'">
      <a class="nav-link" (click)="setActiveTab('all')">All Consultation</a>
    </li>
    <li class="nav-item" [class.active]="activeTab === 'history'">
      <a class="nav-link" (click)="setActiveTab('history');getPatientHistory(patientDetails.patientId);">history</a>
    </li>
    <li class="nav-item" [class.active]="activeTab === 'add-receipt'">
      <a class="nav-link" (click)="toggleAddDetails($event)">add receipt</a>
    </li>
    <li class="nav-item" [class.active]="activeTab === 'add-notes'">
      <a class="nav-link" (click)="toggleAddNotesDetails($event)">add notes</a>
    </li>
  </ul>

  <div class="tab-content" *ngIf="activeTab==='all'">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let thData of consulationTableHeader">{{ thData }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let trData of getVisibleItems(); let i = index">
          <tr>
            <th scope="row">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</th>
            <td>{{ trData.patientName }}</td>
            <td>{{ trData.timeSlot }}</td>
            <td>{{ trData.patientAge }}</td>
            <td>{{ trData.patientMobile }}</td>
            <td>{{ trData.lastVisited | date:'dd MMM yyyy' }}</td>
            <td>{{ trData.city }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="tab-content" *ngIf="activeTab==='history'">
    <table class="table table-striped" *ngIf="patientDetails">
      <thead>
        <tr>
          <th *ngFor="let thData of historyTableHeader">{{ thData }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr *ngFor="let patient of patientHistory">
            <td>{{patientDetails.patientName}}</td>
            <td>{{ patient.visitedDate | date:'dd MMM yyyy' }}</td>
            <td><a href="">view receipt</a></td>
            <td><a href="">view details</a></td>
            <!-- <td>{{ }}</td> -->
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="tab-content" *ngIf="activeTab==='add-receipt'">
    <!-- Content for Add Receipt tab -->
       Receipt Content
  </div>

  <div class="tab-content" *ngIf="activeTab==='add-notes'">
    <!-- Content for Add Notes tab -->
    Add Notes Content
  </div>

  <div class="pagination-controls" *ngIf="activeTab==='all'">
    <button mat-icon-button (click)="previousPage()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Page {{ currentPage }}</span>
    <button mat-icon-button (click)="nextPage()" [disabled]="currentPage === totalPages()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<div class="pagination-controls" *ngIf="activeTab==='history' && patientDetails">
  <button mat-icon-button (click)="previousPage()" [disabled]="currentPage === 1">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>Page {{ currentPage }}</span>
  <button mat-icon-button (click)="nextPageHistory()" [disabled]="currentPage === totalHistory()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="modal" *ngIf="showModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>previous reciept</h5>
          <span class="close" (click)="toggleModal()">&times;</span>
        </div>
        <div class="modal-body">
          <img [src]="imageUrl" alt="Receipt Image">
        </div>
      </div>
    </div>
</div>

<div class="modal addModal" *ngIf="showAddModal && patientDetails">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5>add today's Receipt</h5>
              <span class="close" (click)="toggleAddDetails($event)">&times;</span>
          </div>
          <div class="modal-body">

              <p>patient name : {{patientDetails.patientName}}</p>
              <p>Patient id: {{patientDetails.patientId}}</p>
              <!-- Add the file input element here -->
              <input #fileInput type="file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png, .gif">
              <span>=========> </span>
              <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon" (click)="attachFilesToPatient()">
                  <mat-icon>attachment</mat-icon>add selected file
              </button>
              <p class="success-msg" [hidden]="hideSuccessMsg">File attached succesfully</p>
          </div>
      </div>
  </div>
</div>

<div class="modal notesModal" *ngIf="showAddNotesModal && patientDetails">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5>add notes to patient - {{patientDetails.patientName}} </h5>
              <span class="close" (click)="toggleAddNotesDetails($event)">&times;</span>
          </div>
          <div class="modal-body">
              <p>Patient id: {{patientDetails.patientId}}</p>
              <textarea #notesContent placeholder="add notes here"></textarea>
              <button mat-raised-button color="primary" aria-label="Example icon-button with a icon" (click)="attachNotesToPatient(notesContent.value)">
                  + add notes
              </button>
              <p class="success-msg" [hidden]="hideSuccessMsg">Notes attached succesfully</p>
          </div>
      </div>
  </div>
</div>
