::ng-deep .mat-form-field .mat-form-field-label {
    color: #fff;
}

::ng-deep .mat-select-arrow{
  color:#fff;
  font-weight: 900;
}

.no-records {
    font-size: 18px;
    margin:20px;
}

.patient-details {
    //border-right:2px solid gray;
    padding: 10px 10px;
}

.patient-section {
    align-items: center;
    background-color: #4a556b;
    border: 1px solid gray;
    color: #fff;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

///modal
.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  /* Style for the modal dialog */
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 90%;
    max-width: 80%;
    
  }
  
  /* Style for the close button */
  .modal-header {
    background:#3a5c88;
    display: flex;
    justify-content: flex-end;
  }
  
  .close {
    color:#fff;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Style for the modal image */
  .modal-body {
    & > img {
       width:100%;
        height: 600px;
    }
  }

  @media only screen and (min-width: 990px) {
    .modal-dialog {
      width: 80%;
      max-width: 80%;
    }
  }