 <div [ngClass]="status ? 'sidebar-nav' : 'sidebar-nav-min'">
    <mat-toolbar class="sidebar-nav-mat-toolbar">
            <span class="side-nav-header" *ngIf="status">My Blog</span>
            <mat-icon class="menu" (click)="toggleShow()">reorder</mat-icon>
    </mat-toolbar>

    <div *ngIf="status">
        <div *ngIf="status" class="sidebar-div">
            <ul  *ngFor="let data of navOptions">
                <a class="side-nav-anchor" routerLink="{{data.routeLink}}">
                    <li class="sidebar-nav-options" 
                        (click)="selectItem(data)"
                        [class.selected]="data === selectedItem">
                        {{data.label}}
                    </li>
                </a>
            </ul>
        </div>    
    </div>

    <!-- Status is false -->
    <div *ngIf="!status">
        <div  class="sidebar-div sidebar-div-min">
            <ul *ngFor="let data of navOptions">
                <li class="sidebar-nav-options-min"
                    [class.selected]="data === selectedItem">
                    <mat-icon>{{data.icon}}</mat-icon>
                </li>
            </ul>
        </div>    
    </div>    
</div>